@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');


.bg-light {
    background-color: #ffffff!important;
}


.map-responsive{

  overflow:hidden;

  padding-bottom:56.25%;

  position:relative;

  height:0;

}

.map-responsive iframe{

  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;

}



.bg-dark {
  background-color: #0a0620!important;
}
body {
  
  font-size: 100%;
  font-family: 'Sarala', sans-serif;
  background-color: #ffffff;
}


.custom-title {
  
  font-family: 'Dosis', sans-serif;

}




.custom-modal-h5-padding-bottom{
  padding-top: 4em;
} 


.custom-modal-bkg{

  background-color: #0a0620;
  color: rgb(255, 255, 255);
}

.btn-modal-close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #e9ecef;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.custom-modal-header {
  border-bottom: 0px solid ; 
  color:#ffffff
}

/* CARDS */

.vs-custom-card {
  padding: 0.75rem 1.25rem; 
  background-color: rgba(255, 255, 255, 0.03);
  border-top: 1px 
}

.vs-custom-icon-color{
  
  color:rgba(37, 58, 124, 0.53);  

}
