@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');




.vs-title {
  font-size: 2.5rem;
  padding-top: 1em;
  font-weight: 800;
}


.vs-container-jumbotron { 
   background-image: url('/public/assets/images/bkg-home-new.jpg'); 
   background-repeat: no-repeat;
   background-size: cover;
  
  }



.vs-text{

  padding-bottom: 1em; 
  line-height: 1.8em;
  padding: 3rem;

}


body {
  
  font-size: 100%;
  font-family: 'Dosis', sans-serif;
  background-color: #ffffff;
  color: #282f3e;

 
}


/* MODAL */
.custom-modal-h5-padding-bottom{
  padding-top: 4em;
} 


.custom-modal-bkg{

  background-color: #0a0620;
  color: rgb(255, 255, 255);
}

.btn-modal-close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #e9ecef;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.custom-modal-header {
  border-bottom: 0px solid ; 
  color:#ffffff
}

/* CARDS */

.vs-custom-card {
 
  background-color: #ffffff;
  

  background-clip: border-box;
  border: 0px solid rgba(0,0,0,.125);
  
}

.vs-custom-icon-color{
  color:rgba(0, 43, 173, 0.53);  
}


.button-attr {
  display: block;
  width: 100%;
  border-color: #28a745;
  background-color: #28a745;
  padding: 14px 28px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}

/* MAPA */
.map-responsive{

  overflow:hidden;

  padding-bottom:56.25%;

  position:relative;

  height:0;

}

.map-responsive iframe{

  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;

}
